# Windows thumbnail files
.DS_*

# compiled python files
*.pyc
build/
.coverage
.tox/
grocery.egg-info/


# backups and swap files
*-bak
*.bak
*.swp
*~

# other shenanigans
.idea
*.iml
*.xml

# venv
.python-version
